@mixin responsive-font($desktop, $tablet: null, $mobile: null) {
  font-size: $desktop;

  @if $tablet {
    @media (max-width: $breakpoint-tablet) {
      font-size: $tablet;
    }
  }

  @if $mobile {
    @media (max-width: $breakpoint-mobile) {
      font-size: $mobile;
    }
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin responsive($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content
    
  }
}