@import "../../style/variables";
@import "../../style/mixins";


.header {
    text-align: center;
    margin: 90px 0 30px 0;
    position: relative;
    font-family: $font-edu;

    &::after {
        content: "";
        display: block;
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.986);
        width: 40%;
        height: 2px;
        color: white;
        background-color: white;
        margin: 0 auto;
    }
    &__title {
        color: rgb(200, 236, 255);
        font-size: 3.3rem;
        font-weight: $bold;
        margin: 0;
        padding: 0 0 10px 0;
        @include responsive-font($font-size-h1-desktop, $font-size-h1-tablet, $font-size-h1-mobile);
        &::first-letter {
        font-family: $font-letter;
        color: rgb(116, 175, 182);
        font-size: 7rem;
        font-weight: $lighter;
        font-style: $italic;
        
    }

    }
    
}